#userchangepass {
    background-color: #F3F3F3;
    width: auto;
    height: auto;
    padding: 10px;
    margin-left: 10px;
}

#userchangepass input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}

#userchangepass button {
    width: 70px;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid #F3F3F3;
    box-shadow: 0 0 0 2px #304BFF;
    background-color: #304BFF;
    color: white;
}

#userchangepass button:hover {
    background-color: #7486fa;
    box-shadow: 0 0 0 2px #7486fa;
}