.cardContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 320px;
}

#gamecard {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px;
    overflow: hidden;
    background: linear-gradient(110deg, white, black);
    background-size: cover;
    background-position: center;
}

#gamecard > div {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto auto;
    backdrop-filter: brightness(0.5) blur(5px);
    color: white;
}

#gamecard:hover {
    box-shadow: 2px 2px 5px;
}

#gamecard:hover > div {
    backdrop-filter: brightness(0.4) blur(5px);
}

#gamecard h2 {
    padding: 5px;
}

#gamecard p {
    font-size: 17px;
    padding: 0 2px 2px 2px;
    margin: 0 5px 5px 5px;
    overflow-x: hidden;
    overflow-y: hidden;
    word-wrap: break-word;
    max-height: 80px;
    user-select: none;
    scroll-behavior: smooth;
    border-radius: 10px 10px 0 0;
}

#gamecard p:hover {
    overflow-y: auto;
    background-color: rgba(73, 73, 73, 0.3);
    box-shadow: inset 0 -10px 10px -10px black;
}

/* width */
#gamecard ::-webkit-scrollbar {
    width: 5px;
}

/* Track */
#gamecard ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

/* Handle */
#gamecard ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0, 0.2);
    border-radius: 4px;
}

/* Handle on hover */
#gamecard ::-webkit-scrollbar-thumb:hover {
    background: rgb(31, 31, 31);
}